{{!< html_struct}}
{{#contentFor 'pageStyles'}}
  <link rel="stylesheet" href="../css/admin/font-awesome.min.css">
  <link rel="stylesheet" href="../css/admin/login.css">
  <script type="text/javascript" src="../js/admin/login.js"></script>
{{/contentFor}}

<div class="loginLogo">大学生竞赛管理系统</div>
<div id="adminLogin">

  <h3 class="loginWord">登录系统</h3>

  <div class="info"></div>

  <div id="admin">
    <div class="adminFill">
      <i class="icon-user"></i>
      <input type="text" id="adminName" class="adminName" placeholder="用户名" name="adminName">
    </div>
  </div>

  <div id="password">
    <div class="passwordFill">
      <i class="icon-lock"></i>
      <input type="password" id="passwordName" class="passwordName" placeholder="密码" name="passwordName">
    </div>
  </div>

  <div id="submit">
    <a href="#" class="submit">登录</a>
    <i class="m-icon-swapright m-icon-white"></i>
  </div>




</div>
