{{!< ../layout/fontstage_layout}}
{{#contentFor 'fontstagePageStyles'}}
  <link rel="stylesheet" href="../css/user/aboutUs.css">
  <script type="text/javascript" src="../js/user/aboutUs.js"></script>
  {{{block 'aboutUs'}}}
{{/contentFor}}

<div class="ad"></div>
<div class="aboutUs">

  <div class="left">
    <span>聚焦我们</span>
    <div class="sort">
      <h4>
        <a href="#" class="aboutUsSort">赛事介绍</a>
      </h4>
      <h4>
        <a href="#" class="aboutUsSort">比赛安排</a>
      </h4>
    </div>
  </div>

  <div class="aboutUsRight">

    <div class="rightContent eventIntroduce">
    <h3>大学生科技竞赛介绍</h3>
    <p>
      本竞赛，是由共青团中央、中国科协、教育部和全国学联、地方省级人民政府共同主办的全国性的大学生课外学术科技创业类竞赛，承办高校为国内著名大学。本竞赛每年举办一届。本竞赛被誉为中国大学生学生科技创新创业的“奥林匹克”盛会，是目前国内大学生最关注最热门的全国性竞赛，也是全国最具代表性、权威性、示范性、导向性的大学生竞赛。
    </p>
  </div>


    <div class="rightContent eventRule aboutUsHide">
      <h3>比赛规则</h3>
      <p>本比赛共决出6名获奖人员，一名一等奖，两名二等奖，三名三等奖。选择项目初赛成绩的排名前
        40%的人员，进入复赛，最后按初赛成绩的40%，复赛成绩的60%，得出决赛成绩。
        决赛成绩由高到低，进行排名，如果总成绩分数相同，复赛成绩高的项目，排名优先。</p>
    </div>

  </div>
