{{!< ../layout/fontstage_layout}}

{{#contentFor 'fontstagePageStyles'}}
  <link rel="stylesheet" href="../css/user/contest.css">
  <script type="text/javascript" src="../jquery/jquery.pagination.js"></script>
  <script type="text/javascript" src="../js/user/contest.js"></script>
{{/contentFor}}

<div class="container">
  <div class="contestsTypeName">
    <h3>作品分类</h3>
  </div>

  <div class="contestContent" id="contestContent">
    <div class="contestSchool">
      <span class="contestTypeword">学校：</span>
      <ul class="schools">
        <li class="contestsType open" id="schools"><a href="#">全部</a></li>
        {{#each schools}}
          <li class="contestsType" id="schoolSingle"><a href="#">{{this}}</a></li>
        {{/each}}
      </ul>
    </div>

    <div class="contestYear" id="contestYear">
      <span class="contestTypeword">年份：</span>
      <select class="years">
        {{#each year}}
          <option class="contestsYear">{{this}}</option>
        {{/each}}
      </select>
    </div>

    <div class="award">
      <span class="awardName">奖项：</span>
      <ul class="awardType">
        <li class="contestsType open" id="allaward">
          <a href="#">全部</a>
        </li>
        <li class="contestsType" id="firstaward">
          <a href="#">一等奖</a>
        </li>
        <li class="contestsType" id="secondaward">
          <a href="#">二等奖</a>
        </li>
        <li class="contestsType" id="thirdaward">
          <a href="#">三等奖</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="contestsTypeName">
    <h3>作品展示</h3>
  </div>

  <div class="contestShow">
    <ul data-length= {{length}}>
    </ul>
  </div>

  <div class="pagination" id="page"></div>
</div>
