{{!< ../layout/fontstage_layout}}

{{#contentFor 'fontstagePageStyles'}}
  <link rel="stylesheet" href="../css/user/findPassword.css">
  <script type="text/javascript" src="../js/user/findPassword.js"></script>
{{/contentFor}}


<div id="findPassword">

  <div class="findPasswordHeader">
    <h2>找回密码</h2>
  </div>
  <div class="findPasswordContent">
    <label>注册邮箱</label>
    <input type="text" class="inputEmail">
  </div>

  <div class="findPasswordInfo"></div>


  <input type="button" class="userSubmit" value="发送" />


</div>
