{{!< ../layout/fontstage_layout}}

{{#contentFor 'fontstagePageStyles'}}
  <link rel="stylesheet" href="../css/user/news_detail.css">
  <script type="text/javascript" src="../js/user/news_detail.js"></script>
{{/contentFor}}

<div class="newsDetail">
  <div class="newsDetailHeader">
  {{newsTitle}}
    <div class="newsTime">时间：{{newsTime}}</div>

</div>

  <s:property escape="false" class="newsContent" value="{{newsContent}}">
    <div class="newsDetailContent" id="newsDetailContent">
    </div>
</div>
