{{!< ../layout/fontstage_layout}}

{{#contentFor 'fontstagePageStyles'}}
  <link rel="stylesheet" href="../css/user/submit_message.css">
  <script type="text/javascript" src="../js/user/submit_message.js"></script>
{{/contentFor}}

<div class="jumbotron" id="jumbotron">
  <h2>报名成功</h2>
  <p>报名成功，点击按钮，可查看进度</p>
  <p><a class="btn btn-primary btn-lg" href="registrate_record" role="button">查看进度</a></p>
</div>
