{{!< ../layout/fontstage_layout}}

{{#contentFor 'fontstagePageStyles'}}
  <link rel="stylesheet" href="../css/user/update_password.css">
  <script type="text/javascript" src="../js/user/update_password.js"></script>
{{/contentFor}}


<div id="updatePass">

  <div class="updatePassHeader">
    <h2>重置密码</h2>
  </div>

  <table class="updatePassContent">
    <tr>
      <td class="updatePassWord">输入原密码</td>
      <td>
        <input type="password" class="loginFill" id="oldPass">
      </td>
    </tr>
    <tr>
      <td class="updatePassWord">输入新密码</td>
      <td>
        <input type="password" class="loginFill" id="newPass">
      </td>
    </tr>
    <tr>
      <td class="updatePassWord">新密码确认</td>
      <td>
        <input type="password" class="loginFill" id="confirmPass">
      </td>
    </tr>
  </table>
  <a href="findPassword" class="forgetMe">忘记密码了？</a>

  <div class="info"></div>

  <input type="button" class="reset" value="重置" />


</div>
