.container {
  padding: 0px;
}
#findPassword {
  height: 450px;
  background: white;
}
.findPasswordHeader {
  width: 600px;
  border-bottom: 1px solid #D9D9D9;
  padding: 30px 0 10px;
  margin-left: 200px;
}
.findPasswordHeader h2 {
  font-size: 17px;
  font-weight: bold;
}
.findPasswordContent {
  margin: 30px 0 0 220px;
}
.findPasswordContent label {
  font-weight: normal;
}
.inputEmail {
  margin-left: 10px;
  width: 200px;
}
.findPasswordInfo {
  margin: -26px 0 0 500px;
  color: #f66;
  display: none;
}
.userSubmit {
  margin: 16px 0 0 290px;
  border: none;
  color: white;
  width: 70px;
  height: 24px;
  background: url(../../images/nav.jpg);
}
