.newsTime{
  float: right;
  line-height: 50px;
  margin-right: 20px;
  color: gray;
}
.news {
  width: 1000px;
  margin: 0 auto;
}
.ad {
  background: url(../../images/bg1.jpg);
  height: 290px;
}
.newsContent h4 {
  text-indent: 16px;
  height: 34px;
  line-height: 34px;
  background: lightgreen;
  margin-bottom: 0px;
}
.newsContent .content {
  border: 1px solid #d0d6d9;
  height: 600px;
}
.newsContent .content ul {
  list-style-type: none;
  margin-left: -40px;
}
.newsContent .content ul li {
  border-bottom: 1px solid #d0d6d9;
  text-indent: 30px;
  text-overflow: ellipsis;
}
.newsContent .content ul a {
  text-decoration: none;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  color: black;
}
