.container {
  width: 1050px;
  padding: 0px;
  margin: 0px;
  margin-left: 12px;
}
.contestsTypName h2 {
  line-height: 30px;
  height: 30px;
  color: #010101;
  font-weight: 700;
  font-size: 16px;
}
.participatingContent, .participatingShow {
  border-top: 1px solid #d0d6d9;
  border-bottom: 1px solid #d0d6d9;
}
.participatingSchool {
  padding: 15px 0 5px;
}
.participatingYear {
  padding-bottom: 15px;
}
.participatingSchoolName {
  float: left;
  width: 80px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #787d82;
  text-align: right;
}
.participatingTypeName {
  float: left;
  width: 80px;
  height: 30px;
  line-height: 20px;
  font-size: 14px;
  color: #787d82;
  text-align: right;
}
.contestsType {
  display: inline-block;
  margin: 0 13px;
}
.contestsType a {
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  font-size: 14px;
  text-decoration: none;
  color: green;
}
.open {
  background: #f01400;
}
.open a {
  color: white;
}
.contestContent {
  border-collapse: collapse;
  width: 1000px;
  text-align: center;
  margin-left: 15px;
  margin-top: 30px;
}
.contestContent th {
  text-align: center;
}
.contestContent td {
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  height: 30px;
}
.contestContent tbody>tr:nth-child(odd) {
  background: #F4F4F4;
}
.contestContent thead {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.participatingYear .years {
  margin-left: 10px;
}
.pagination {
  margin-left: 660px;
}
.pagination a {
  text-decoration: none;
  border: 1px solid #AAE;
  color: #15B;
}
.pagination a, .pagination span {
  display: inline-block;
  padding: 0.1em 0.4em;
  margin-right: 5px;
  margin-bottom: 5px;
}
.pagination .current {
  background: #26B;
  color: #fff;
  border: 1px solid #AAE;
}
.pagination .current.prev, .pagination .current.next {
  color: #999;
  border-color: #999;
  background: #fff;
}
.noResult {
  display: none;
  text-align: center;
  width: 200px;
  font-size: 18px;
  margin: 10px auto;
  color: red;
}
