{{!< ../layout/html_struct}}
{{#contentFor 'pageStyles'}}
  <link rel="stylesheet" href="../css/admin/font-awesome.min.css">
  <link rel="stylesheet" href="../css/staff/login.css">
  <script type="text/javascript" src="../js/staff/login.js"></script>
{{/contentFor}}

<div class="loginLogo">大学生科技竞赛系统</div>
<div id="staffLogin">

  <h3 class="loginWord">登录系统</h3>

  <div class="info"></div>

  <div id="staff">
    <div class="staffFill">
      <i class="icon-user"></i>
      <input type="text" id="staffName" class="staffName" placeholder="用户名" name="staffName">
    </div>
  </div>

  <div id="password">
    <div class="passwordFill">
      <i class="icon-lock"></i>
      <input type="password" id="passwordName" class="passwordName" placeholder="密码" name="passwordName">
    </div>
  </div>

  <div id="school">
    <div class="schoolNameFill">
      <i class="icon-bookmark-empty"></i>
      <input type="text" id="schoolName" class="schoolName" placeholder="学校名" name="schoolName">
    </div>
  </div>


  <div id="submit">
    <a href="#" class="submit">登录</a>
    <i class="m-icon-swapright m-icon-white"></i>
  </div>




</div>
